.user {
    display: grid;
    grid-template-columns: 1fr 1.5fr 1fr 1fr 0.5fr;;
    margin-top: 5px;
    background-color: white;
    padding: 7.5px;
    border-radius: 10px;
    margin-bottom: 10px;
}

.user__delete {
    justify-self: center;
}

.user__name {
    color: rgb(0, 157, 255);
    font-weight: bold;
}